.positionPage {
    display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.buttonPos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 2px solid #000000; /* Border color */
  border-radius: 50%; /* Creates a circular border */
  cursor: pointer;
  margin-left: 5px;
}

.buttonPos:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}
.codePAdded {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}