.searchPage {
    display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
    margin-top: 5%;
}

.searchFile { // contient le bouton pour rechercher un fichier et la recherche dans searchResults
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.searchFile > * {
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchResults { // contient les résultats de la recherche (un ensemble de cartes)
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card { // la carte / l'oeuvre
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: visible;
        background-color: #fff;
        padding: 10px;
        width: 300px;
        transition: transform 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative; /* Ajoutez cette ligne */
        z-index: 1;

        .card-header { // contient l'image et le titre de la carte
            transform: scale(1.05);
        }

        .card-body { // contient les infos de la carte
            // les infos sont affichées en grille de 3 par 3
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                "title title title"
                "author author author";
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .card-footer:hover { // contient les boutons de la carte
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            transform: scale(1.2);
        }

        button {
            margin-left: 1%;
            border-radius: 5px;
            border: 1px solid lightblue;
            padding: 1%;
            font-size: 100%;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: lightblue;
            }
        }

        .cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}