@import 'main.scss';

.userPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    $background-color: #f5f5f5;
}
