@import 'main.scss';

.book-card {
    border: 1px solid lightgrey;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    width: 300px; /* Ajustez la largeur des cartes */
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-card:hover {
    transform: scale(1.05);
}


.deleteBook:hover {
    transform: scale(1.5);
    color: red;
}

// lorsque la note est de -1, on affiche 5 étoiles vides avec par dessus un texte "non noté" sur un fond gris transparent et qui s'en va au hover
.noteBookText {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
}
.noteBook:hover {
    .noteBookText {
        display: none;
    }
}

.noteBookStars {
    width: fit-content;
}

.noteBookStars > * {
    color: gold;
}

.addBook {
    transform: scale(1.2);
    color: green;
}
.addBook:hover {
    transform: scale(1.7);
}