sqlalchemy
pandas
numpy
scikit-learn
scipy
fuzzywuzzy
python-Levenshtein  # This is often used alongside fuzzywuzzy for performance improvements
IPython
pickle-mixin  # If you're using pickle as an external library. Otherwise, it's part of the standard library.
cffi
bottleneck
numexpr
pyarrow
pymysql
cryptography
