flask
flask-cors
opencv-python
pycocotools
matplotlib
onnxruntime
onnx
flake8
isort
black
mypy
torch
torchvision
torchaudio
numpy
scipy
git+https://github.com/facebookresearch/segment-anything.git
typing
Pillow
easyocr
tqdm
stitching
Shapely
plumbum
ipython