.appPage {
    display: flex;
}
.photo {
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-left: 270%;
    margin-top: 40%;
    font-size: 200%;
}
.camera {
    margin-left: 294%;
    margin-top: 20%;
    font-size: 600%;
    color: blueviolet;
}
.camera:hover {
    transform: scale(1.2);
}
#photoAdded {
    font-weight: bold;
    margin-left: 296%;
    white-space: nowrap;
    text-decoration: underline;
    color: red;
}