.formCss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
  }
  
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    color: rebeccapurple;
  }
  
.inputForm {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
.submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
.submit:hover {
    background-color: #0062cc;
  }