// Common styles

// - colors
$color-primary: #f44336;
$color-secondary: #ff5722;
$color-text: #212121;
$color-text-light: #ffffff;
$color-text-dark: #000000;

// - fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

// - breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-large: 1920px;
