// Common styles

// - colors
$color-primary: #3974d0;
$color-primary-light: #6aa9e9;
$color-primary-dark: #004ba0;

$color-secondary: #7ff7f8;

$color-icon: blueviolet;
$color-button: #57d9ef;

$color-background-dark: #1a1a1a;
$color-text-dark: #ebe6f2;
$color-card-dark: #333;

$color-background-light: #ebe6f2;
$color-text-light: #1a1a1a;
$color-card-light: #ebe6f2;

body.dark-theme {
  background-color: $color-background-dark;
  color: $color-text-dark;
  .card {
    background-color: $color-card-dark;
  }
  .noteBookText {
    color: $color-text-dark;
  }
  .book-card {
    background-color: $color-background-dark;
  }
  .navbar {
    background-color: $color-background-dark;
    .bar {
      div:not(.logo):not(.expandIcon) {
        a {
          color: $color-text-dark;
          &:hover {
            background-color: $color-primary-dark;
          }
          &:active {
            background-color: $color-primary-light;
          }
        }
      }
    }
    .reduceButton {
      background-color: $color-primary-dark;
      color: $color-text-dark;
      &:hover {
        background-color: $color-primary-light;
      }
      &:active {
        background-color: $color-primary-dark;
      }
    }
    &.expanded { // expand navbar
      div:not(:first-child):not(:last-child) {
        color: $color-text-dark;
        > * {
          color: $color-text-dark;
        }
      }
    }
  }
}
body:not(.dark-theme) { // light theme
  background-color: $color-background-light;
  color: $color-text-light;
  .card {
    background-color: $color-card-light;
  }
  .noteBookText {
    color: $color-text-light;
  }
  .book-card {
    background-color: $color-background-light;
  }
  .navbar {
    background-color: $color-background-light;
    .bar {
      div:not(.logo):not(.expandIcon) {
        a {
          color: $color-text-light;
          &:hover {
            background-color: $color-primary-light;
          }
          &:active {
            background-color: $color-primary-dark;
          }
        }
      }
    }
    .reduceButton {
      background-color: $color-primary-light;
      color: $color-text-light;
      &:hover {
        background-color: $color-primary-dark;
      }
      &:active {
        background-color: $color-primary-light;
      }
    }
    &.expanded { // expand navbar
      div:not(:first-child):not(:last-child) {
        color: $color-text-light;
        > * {
          color: $color-text-light;
        }
      }
    }
  }
}

// - fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

// - breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-large: 1920px;
