// Common styles

// - colors
$color-primary: #3974d0;
$color-primary-light: #6aa9e9;
$color-primary-dark: #004ba0;

$color-secondary: #7ff7f8;

$color-icon: blueviolet;
$color-button: #57d9ef;

$color-background: #1a1a1a;
$color-text: #ebe6f2;

@media (prefers-color-scheme: light) {
  $color-background: #ebe6f2;
  $color-text: #1a1a1a;
}

// - fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Condensed', sans-serif;

// - breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-large: 1920px;
