.navbar {
    display: block;
    font-size: 300%;
    color: blueviolet;
    padding-top: 10%;
    border: 4px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
}
.separatorBar {
    padding-bottom: 20%;
}

.pastIcon:hover {
    font-size: 150%;
    margin-left: 0%;
    margin-right: 25%;
}
.pastIcon{
    transform: scale(1.75);
    margin-left: 25%;
    margin-bottom: 30%;
}
.exitIcon {
    margin-top: 15%;
    margin-left: 8%;
    transform: scale(1.5);
    margin-left: 34%;
}

.exitIcon:hover {
    font-size: 150%;
    margin-left: 0%;
    margin-right: 75%;
}

.logoApp {
    height: min-content;
}
.logoApp:hover {
    height: 150%;
    transform: scale(1.5);
    padding-top: 10%;
}