
.accueil {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 22%;
    margin-left: 40%;
    
}
  .buttonAccueil {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #0077cc;
    color: #0077cc;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .buttonAccueil:hover {
    background-color: #0077cc;
    color: #fff;
  }
  
  .buttonAccueil:focus {
    outline: none;
  }