.navbar {
    display: block;
    color: blueviolet;
    border: 4px solid blueviolet;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
}

.navbar > * {
    //border: 1px solid red;
    transform: scale(1);
    margin-bottom: 20%;
    display: flex;
}
.navbar > *:hover {
    transform: scale(1.2);
}

// les icones contenus dans pastIcon et exitIcon doivent prendre la largeur maximale de leur parent
.pastIcon > *, .exitIcon > * {
    width: 100%;
    height: 100%;
}
