.navbar {
    display: block;
    color: blueviolet;
    border: 4px solid blueviolet;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    background-color: rgb(87, 217, 239);
}

.navbar > *:not(.greyScreen) {
    //border: 1px solid red;
    transform: scale(1);
    margin-bottom: 20%;
    display: flex;
    transition: transform 0.2s;

    > * {
        //border: 1px solid green;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

.exitIcon {
    position: relative;
    left: 5px;
}

.non-selectable { // à move dans main.scss
    user-select: none;
}

.greyScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exitPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    color: blueviolet;
    border: 4px solid blueviolet;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    background-color: rgb(87, 217, 239);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.centered {
    display: flex;
    justify-content: space-around;
}

.AppPage {
    display: flex;
}